@use './_variables' as var

*
  box-sizing: border-box
  padding: 0
  margin: 0

body
  font-family: var.$jost

header
  width: 100%
  background: var.$white

.container
  margin: 0 auto
  max-width: 1280px
  width: 100%
