@use '../../styles/_variables' as var
@use '../../styles/_mixins' as mix

.header_content
  display: flex
  align-items: center
  justify-content: space-between
  padding: 1rem 2rem

.user
  display: flex
  align-items: center
  gap: 13px
  > p
    @include mix.font-style (var.$font-disabled, 14px, 500, 1px, 14px)
  > svg
    fill: var.$opea-color
    opacity: 0.4
