@use '../../styles/_variables' as var
@use '../../styles/_mixins' as mix

.form
  --pad: 6px
  --pad-top: 2rem
  padding: var(--pad-top) 2rem 12px
  position: relative
  > button
    border: none
    border-radius: 0 4px 4px 0
    background-color: transparent
    padding: var(--pad)
    position: absolute
    right: var(--pad-top)
    top: var(--pad-top)
    > svg
      fill: var.$font-color
    &:hover svg, &:focus svg
      fill: var.$opea-color

.input
  display: block
  background: var.$white
  border: 1px solid var.$gray-stroke
  border-radius: 4px
  margin-left: auto
  padding: var(--pad) 14px
  width: 100%
  max-width: 300px
  @include mix.font-style (var.$font-color, 14px, 400, 0.15px, 16px)
